# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environments
venv/
backend_venv/
.env/

# Environment & config
.env
*.env

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
*.db

# Python packaging
build/
dist/
*.egg-info/

# Cache
.cache/
.pytest_cache/



# Local files
local_files/
